/* styles for my resume */

/* general text */
body {
  font-family: Georgia,times, serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul.menu li {
  display: inline;
  font-size: 0.75em;
  color: black;
}

#title{
  font-weight: 600;
  text-align: center;
  margin: 20px 0px 0px 0px;
  text-transform: uppercase;
}
/* banner name up top */
#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* sections with colors */

.sectionheader {
  font-size: 1.5em;
  color: #fff;
  background-color: #9a58b9;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 20px;
  margin-left: auto;
  margin right: 0 auto;
  margin-bottom:25px;
  width: 75%;
  min-width: 100px;
  max-width: 1200px;
  display: inline-block;

}

/* position titles */

#jobtitle {
  font-size: 1.5em;
  font-weight: 600;

}

/* the place from where I got experience */

#organization {
  font-size: 1.25em;
  font-weight: 400;
}

#organizationalign {
  font-size: 1.25em;
  font-weight: 400;
  margin-top: 5px;
}

/* when I was at a place */

#date {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin: 2px 0px 0px 0px;
}

#datealign {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    margin: 8px 0px 0px 0px;
}

.description {
  margin: 10px 0px 0px 0px;
}

#degrees{
  margin: 5px 0px 0px 0px;
}

#do {
  margin: 5px 0px 0px 0px;
}
/* listed */

ul {
  font-size: 1em;
}
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;

}

.photocol4 {
  align-content: center;
}

.splitcategory {
  display: block;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: 23em;
   margin-right: 23em;
   overflow: hidden;
   border-style: inset;
   border-width: 1px;
}

/* jumbotron */
.jumbotron{
  background: url(images/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .90;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 1200px;
}

.display-4 {
  color: white;
  font-family: "gill sans", avenir, arial, sans-serif;
  font-size: 4em !important;
  text-align: center;
}

.lead {
  color: white;
  font-family: "gill sans", avenir, arial, sans-serif;
  font-size: 1.5em !important;
  text-align: center;
}

button a {
  color: white;
  text-decoration: none;
}


button {
  font-family: "gill sans", avenir, arial, sans-serif !important;
  font-weight: normal;
  font-size: 1em;
  color: white;
  text-decoration: none;

}

/* content column*/

p {
  font-family: georgia, times, serif;
  font-size: 1em;

}

.col-md-12 {
  text-align: center;
}

.doubletasks {
  font-size: 1.25em;
  text-align: center;
}

.schools {
    font-size: .75em;
    font-family: sans-serif;
}

span {
  margin-right: 5px;
  margin-left: 5px;
}

.blocks {
  background-color: #b885d0;
  min-width: 250px;
  min-height: 300px;
  margin-top: 5px;
  padding-bottom: 20px;
}
/* images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
/* footer */

.footer{
  text-align: center;
  display: block;
  background-color: #e6e6e6;
  width: 900px;
  height:55px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  max-width: 970px;
  padding: 10px;


}

.minorinfo {
  text-align: center;
  font-family: "gill sans", avenir, Arial, sans-serif;
  font-size: 0.75em;
}
