#container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;

}

.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', arial, sans-serif;
}

.byline{
  font-size: 1em;
  font-family: 'Montserrat', arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.star-top {
  width: 15px;
  margin-right: 5px;
}
.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:35%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Montserrat', arial, sans-serif;
  color: white;
  font-weight: 1.25em;
}

.hero-image {
  width: 100%;
  max-width: 900px;
}

.star-break{
  width: 15px;
  margin-right: 4px;

}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  max-width: 800px;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 12%;

}

.chapter.title {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-top: 20px;
  width: 100%;

}

.header-star {
  width: 15px;
  margin-left: .5%;
}

p {
 text-align:left;
 line-height:180%;
}

.text-one{
  font-size: 1em;
  color: black;
  font-family: 'PT-Serif', serif;

}

.stack-image {
  width:100%;
  max-width: 500px;
  margin:0 auto;
  padding-top:30px;
  height: 100%;
}


.rally-pic {
  width: 100%;
  max-width:700px;
  margin: 0 auto;
  padding-top:30px;
  height: 100%;
}
.cap {
   width:100%;
   max-width:700px;
   margin:0 auto;
   padding-bottom:30px;
   font-family: 'Montserrat', sans-serif;
   color:#999;
  }
}
.photo {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;

}

.caption {
 width:100%;
 max-width:500px;
 margin:0 auto;
 padding-bottom:30px;
 font-family: 'Montserrat', sans-serif;
 color:#999;
}



.footer {
  display: block;
  background: black;
  height: 100px;
  padding: 25px;
}

.bottom-text {
  color: white;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

a:link {
  text-decoration: none;
  color: #e0162b;
}

a:hover {
  text-decoration: none;
  color: #0052a5;
}

a:visited {
  text-decoration: none;
  color: #999;
}

.graphic-container h2 {
  font-size: 2em;
  weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.graphic-container {
  padding-top:30px;
  padding-bottom:30px;
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  font-family: 'Montserrat', sans-serif;
  margin:0 auto;
  height: 100%;
}

.graph-format {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  height: 100%;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;

}

.box {
  display: block;
  background-color: #e4e6eb;
  margin: 0 auto;
  padding: 10px;
}
.block-text {
  font-weight:700;
}
